body {
    font-family: Arial, sans-serif;
    /* background-image: url(../images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #FCF8F3; */
    background-color: rgb(128, 175, 129,0.4);
    /* box-shadow: 0 0 12px #80AF81; */
    height: 100%;
    width: auto;
    overflow: hidden;
}
nav{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0;
    display: flex;
    width: 100%;
    align-items: center;
}
#lang-logo{
    background-color: white;
    border-radius: 10px;
    width : 70px
}
#nav-text{
    font-family: "YAD1aIFxe3I 0", _fb_, auto;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    width: fit-content;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.appointment-form {
    /* background-color: rgb(128, 175, 129,0.4); */
    background-color: #FCF8F3;
    box-shadow: 0 0 12px #80AF81;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 10px;
    height: 60vh;
    padding-bottom: 50px;
    text-align: center;
}
.appointment-form h2 {
    margin-bottom: 40px;
    font-size: 2em;
    color: #131842;
}
.appointment-form input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.appointment-form select{
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.appointment-form button {
    background-color: #ff5061;
    color: #fff;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}
.appointment-form button:hover {
    background-color: #ff3b4c;
}
@media only screen and (max-width: 600px) {
    .appointment-form {
        height: fit-content;
    }
    .appointment-form button {
        margin-top: 20px;
        width: 50%;
    }
  }
